@using KaimGames.CodeBreaker.Common;

@model CodeBreakerGameViewModel
@{
    ViewBag.Title = $"CodeBreaker";
}

<h2>@ViewBag.Title</h2>
<a asp-action="Index" asp-controller="Leaderboard"
   asp-route-gameName="@Model.Game.Name" asp-route-hideGameName="true"
   asp-route-subGame="@Model.Game.SubGame" asp-route-hideSubGame="true"
   asp-route-orderBy="Elapsed" asp-route-hideScore="true">
    Leaderboard</a> |
<a asp-action="Create" asp-controller="CodeBreaker" asp-route-codeLength="@Model.Game.CodeLength" asp-route-codeOptionsLength="@Model.Game.CodeOptions.Length">Restart</a></p>

<h3>
    @if (Model.Game.IsGameOver)
    {
        <span>You won in @Model.Game.Guesses.Count guesses!</span>
    }
    else
    {
        <span>Guess...</span>
    }
</h3>

<h4 id="elapsed">&nbsp;</h4>

<form asp-controller="CodeBreaker" asp-action="Guess" method="GET">
    <table class="table table-responsive">
        <tbody>
            @if (!Model.Game.IsGameOver)
            {
                <tr>
                    <td></td>
                    @for (int lcv = 0; lcv < Model.Game.CodeLength; lcv++)
                    {
                        <td width="100px">
                            <select name="code" class="form-control codebreaker-option">
                                @foreach (char option in Model.Game.CodeOptions)
                                {
                                    <option value='@option' class="codebreaker-option-@option" selected="@(option == Model.PreviousCode[lcv])">@Html.Raw(Model.CodeOptionMap[option])</option>
                                }
                            </select>
                        </td>
                    }

                    <td><button type="submit" class="btn btn-primary">Guess</button></td>
                </tr>
            }

            @for (int round = Model.Game.Guesses.Count; round > 0; round--)
            {
                Guess guess = Model.Game.Guesses[round - 1];

                <tr>
                    <td><small>@round</small></td>

                    @foreach (char c in guess.Code)
                    {
                        <td class="text-center">
                            <span class="codebreaker-option codebreaker-option-@c">@(Html.Raw(Model.CodeOptionMap[c]))</span>
                        </td>
                    }

                    <td>
                        @for (int lcv = 0; lcv < guess.ExactlyCorrect; lcv++)
                        {
                            <span class="codebreaker-correct-exact"></span>
                        }
                        @for (int lcv = 0; lcv < guess.WrongLocation; lcv++)
                        {
                            <span class="codebreaker-correct-wrong-location"></span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

@section Scripts {
    @if (Model.Game.Guesses.Any())
    {
        <script type="text/javascript">
        var elapsed = @Model.Elapsed;
        function setElapsed(elapsedTime) {
            $("#elapsed").text((Math.floor(elapsedTime)) / 1000);
        }
        setElapsed(elapsed);
        </script>
    }

    @if (!Model.Game.IsGameOver)
    {
        <script type="text/javascript">
            var interval = 20;
            setInterval(function () {
                elapsed += interval;
                setElapsed(elapsed);
            }, interval);
        </script>
    }
}
